<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<!--    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <script src="../js/landingPage.js"></script>
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/Style.css">
<!--    <script type="text/javascript" src="../js/landingPage.js"></script>-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="path_to/jquery.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/twbs-pagination@1.4.1/jquery.twbsPagination.min.js" type="text/javascript"></script>
    
    <script type="text/javascript" src="../js/dashboard.js"></script>
    <link rel="stylesheet" href="../css/dashboard.css" />
</head>
<body>

<div class="container">

  <div class="row" >
    <div class="col-sm-2" >
        <div class="container-fluid logo"><a class="logoImage"  href="#"><img src="../images/LOGO v2.png" class="img-circle" alt="Cinque Terre"></a></div>
     </div>   
      
    <div class="col-sm-10">
        <div class="container-fluid icon" >
             <div class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span><i class="fas fa-user"></i></span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Logout</a></li>
                    <li><a href="#">Change Password</a></li>
                </ul>
            </div>
           
        </div>
     
        <div class="container-fluid neworder" >
            
<!--            <p><button type="button" class="btn btn-success btnNewOrder btn-xs" float="right" ><i class="glyphicon glyphicon-pencil"></i>New Order</button></p>-->
            
             <p><button type="button" class="btn btn-success btnNewOrder btn-xs" float="right" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-pencil"></i>New Order</button></p>
                
            
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog new-order-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Order</h4>
                  </div>
                  <div class="modal-body">
                         <div class="stepper-container container">
                            <div class="stepwizard">
                                <div class="stepwizard-row setup-panel">
                                    <div class="stepwizard-step col-xs-2"> 
                                        <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
                                    </div>
                                    <div class="stepwizard-step col-xs-2"> 
                                        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                                    </div>
                                    <div class="stepwizard-step col-xs-2"> 
                                        <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                                    </div>
                                    <div class="stepwizard-step col-xs-2"> 
                                        <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                                    </div>
                                    <div class="stepwizard-step col-xs-2"> 
                                        <a href="#step-5" type="button" class="btn btn-default btn-circle" disabled="disabled">5</a>
                                    </div>
                                </div>
                            </div>

                            <form role="form">
                                <div class="stepper-panel panel panel-primary setup-content" id="step-1">
                                            <div class="panel-body">
                                                    <div class="form-group col-sm-3">

                                                        <select id="new-order-select" class="selectpicker" required name="new-order-select" title="Choose the Operator Name">
                                                          <option>1</option>
                                                          <option>2</option>
                                                          <option>3</option>
                                                          <option id="others">Others</option>
                                                        </select>

                                                    </div>
                                                    <div class="others-operator-name form-group col-xs-3">                    
                                                        <input maxlength="100" type="text" class="form-control" placeholder="Operator Name" />
                                                    </div>


                                                    <div class="form-group col-sm-3">
                                                        <input maxlength="100" type="text" required="required" class="form-control" placeholder="Order Reference" />
                                                    </div>
                                                    <div class="form-group col-sm-3"> 
                                                            <div class="order-creation input-group date">
                                                              <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                            </div>
                                    <!--                    <input maxlength="100" type="text" required="required" class="form-control" placeholder="Delivery Date" />-->
                                                    </div>
                                                <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                                            </div>
                                    </div>

                                    <div class="stepper-panel panel panel-primary setup-content" id="step-2">
                                        <div class="panel-body">
                                            <div class="form-group col-xs-3">                    
                            <!--                    <input maxlength="200" type="text" required="required" class="form-control" placeholder="Service Type" />-->
                                                 <select id="service-type" class="selectpicker" name="service-type" required="true" title="Choose your Service Type">
                                                  <option>1</option>
                                                  <option>2</option>
                                                  <option>3</option>                      
                                                </select>
                                            </div>
                                            <div class="form-group col-xs-3">                    
                                                <input maxlength="200" type="text" required="required" class="form-control" placeholder="Delivery Contact" />
                                            </div>
                                            <div class="form-group col-xs-3">
                            <!--                    <input maxlength="200" type="text" required="required" class="form-control" placeholder="Delivery Time" />-->
                                                    <input id="timepicker" width="270" />             
                                            </div>

                                            <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                                        </div>
                                    </div>

                                    <div class="stepper-panel panel panel-primary setup-content" id="step-3">
                                            <div class="panel-heading">
                                                 <h3 class="panel-title">Include Children?</h3>
                                            </div>
                                            <div class="panel-body">

                                                <div class="include-children btn-group btn-group-toggle" data-toggle="buttons">
                                                  <label class="btn btn-secondary active">
                                                    <input type="radio" name="options" id="option1" autocomplete="off"> Yes
                                                  </label>
                                                  <label class="btn btn-secondary">
                                                    <input type="radio" name="options" id="option2" autocomplete="off" checked> No
                                                  </label>                  
                                                </div>
                                                <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                                            </div>
                                    </div>

                                    <div class="stepper-panel panel panel-primary setup-content" id="step-4">
                                        <div class="panel-body">
                    <!--
                                            <div class="checkbox pax-checkbox" data-toggle="buttons">
                                                  <label class="btn btn-secondary">
                                                    <input id="veg" class="veg-pax-checkbox" type="checkbox" autocomplete="off"> Veg
                                                  </label>
                                                  <label class="btn btn-secondary active">
                                                    <input id="non-veg" class="non-veg-pax-checkbox" type="checkbox" autocomplete="off"> Non Veg
                                                  </label>
                                                  <label class="btn btn-secondary">
                                                    <input id="jain" class="jain-pax-checkbox" type="checkbox" autocomplete="off"> Jain
                                                  </label>
                                                  <label class="btn btn-secondary">
                                                    <input id="swami" class="swami-pax-checkbox" type="checkbox" autocomplete="off"> Swami
                                                  </label>
                                            </div>
                    -->

                                                <div class="checkbox-inline pax-checkbox">
                                                  <label class="btn btn-secondary"><input id="veg" type="checkbox" value="">Veg</label>
                                                </div>
                                                <div class="checkbox-inline pax-checkbox">
                                                  <label class="btn btn-secondary"><input id="non-veg" type="checkbox" value="" checked>Non Veg</label>
                                                </div>
                                                <div class="checkbox-inline pax-checkbox">
                                                  <label><input id="jain" type="checkbox" value="">Jain</label>
                                                </div>
                                                <div class="checkbox-inline pax-checkbox">
                                                  <label><input id="swami" type="checkbox" value="">Swami</label>
                                                </div>

                                            <div class="container" id="veg-pax">
                                                    <div class="form-group col-xs-2">
                                                        <label class="control-label"></label>
                                                        <input maxlength="200" type="text" id="veg-pax-input" class="form-control" placeholder="Number of Veg Pax" />
                                                    </div>
                                                    <div class="form-group col-xs-2">
                                                        <label class="control-label"></label>
                                                        <input maxlength="200" type="text" id="veg-pax-price" class="form-control" placeholder="Price" />
                                                    </div>
                                                    <div class="form-group col-xs-2">
                                                        <label class="control-label"></label>
                                                        <input maxlength="200" type="text" id="veg-child-pax" class="child-pax form-control" placeholder="Child Veg Pax" />
                                                    </div>
                                                    <div class="form-group col-xs-2">
                                                        <label class="control-label"></label>
                                                        <input maxlength="200" type="text" id="veg-child-price" class="form-control" placeholder="Price" />
                                                    </div>
                                            </div>
                                            <div class="container" id="non-veg-pax">
                                                    <div class="form-group col-xs-2">
                                                        <label class="control-label"></label>
                                                        <input maxlength="200" type="text" id="non-veg-pax-input" class="form-control" placeholder="Non Veg Pax" />
                                                    </div>
                                                    <div class="form-group col-xs-2">
                                                        <label class="control-label"></label>
                                                        <input maxlength="200" type="text" id="non-veg-pax-price" class="form-control" placeholder="Price" />
                                                    </div>
                                                    <div class="form-group col-xs-2">
                                                        <label class="control-label"></label>
                                                        <input maxlength="200" type="text" id="non-veg-child-pax" class="child-pax form-control" placeholder="Child Veg Pax" />
                                                    </div>
                                                    <div class="form-group col-xs-2">
                                                        <label class="control-label"></label>
                                                        <input maxlength="200" type="text" id="non-veg-child-price" class="form-control" placeholder="Price" />
                                                    </div>
                                            </div>
                                            <div class="container" id="jain-pax">
                                                    <div class="form-group col-xs-2">
                                                        <label class="control-label"></label>
                                                        <input maxlength="200" type="text" id="jain-pax-input" class="form-control" placeholder="Jain Pax" />
                                                    </div>
                                                    <div class="form-group col-xs-2">
                                                        <label class="control-label"></label>
                                                        <input maxlength="200" type="text" id="jain-pax-price" class="form-control" placeholder="Price" />
                                                    </div>
                                                    <div class="form-group col-xs-2">
                                                        <label class="control-label"></label>
                                                        <input maxlength="200" type="text" id="jain-child-pax" class="child-pax form-control" placeholder="Child Veg Pax" />
                                                    </div>
                                                    <div class="form-group col-xs-2">
                                                        <label class="control-label"></label>
                                                        <input maxlength="200" type="text" id="jain-child-price" class="form-control" placeholder="Price" />
                                                    </div>
                                            </div>
                                            <div class="container" id="swami-pax">
                                                    <div class="form-group col-xs-2">
                                                        <label class="control-label"></label>
                                                        <input maxlength="200" type="text" id="swami-pax-input" class="form-control" placeholder="Swami Pax" />
                                                    </div>
                                                   <div class="form-group col-xs-2">
                                                        <label class="control-label"></label>
                                                        <input maxlength="200" type="text" id="swami-pax-price" class="form-control" placeholder="Price" />
                                                    </div>
                                                    <div class="form-group col-xs-2">
                                                        <label class="control-label"></label>
                                                        <input maxlength="200" type="text" id="swami-child-pax" class="child-pax form-control" placeholder="Child Veg Pax" />
                                                    </div>
                                                    <div class="form-group col-xs-2">
                                                        <label class="control-label"></label>
                                                        <input maxlength="200" type="text" id="swami-child-price" class="form-control" placeholder="Price" />
                                                    </div>
                                            </div>
                                            <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                                        </div>
                                    </div>
                                    <div class="stepper-panel panel panel-primary setup-content" id="step-5">
                        <!--
                                            <div class="panel-heading">
                                                 <h3 class="panel-title">Include Children?</h3>
                                            </div>
                        -->
                                            <div class="panel-body">
                                                  <div class="form-group">
                                                    <label class="control-label"></label>
                                                    <input maxlength="200" type="text" required="required" class="form-control" placeholder="Delivery Contact Number" />
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="exampleFormControlTextarea1"></label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Other Details"></textarea>
                                                  </div>
                                                <button class="btn btn-success pull-right" type="submit">Finish!</button>
                                            </div>
                                    </div>            
                            </form>
                    </div>
                      <!--end model body -->
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
            
 <!--End of model -->
            
        </div>
    </div>
    </div>
    <div class="row" >  
        <div class="col-sm-2" >
            <div class="container-fluid sidebarbuttons">
                <p><button type="button" class="btn btn-success btn-lg btn-block"><i class="glyphicon glyphicon-pencil"></i>Orders</button></p>
                <p><button type="button" class="btn btn-warning btn-lg btn-block" ><i class="glyphicon glyphicon-list-alt"></i> Invoices </button></p>
            </div>
        </div>       
    
    
      <div class="col-sm-10">
        <div class="container-fluid Search" >
<!--
            <div class="row rowheading">
                <div class="col-sm-3" ><h5>Select Tour Operator</h5></div>
                <div class="col-sm-2" ><h5>From date</h5></div>
                <div class="col-sm-2" ><h5>To Date</h5></div>
                <div class="col-sm-3" ><h5>Order ref.number</h5></div>
                <div class="col-sm-2" ></div>
            </div>
-->
            <div class="row rowdata">
                <div class="col-sm-3" >
                    <label>Select Tour Operator</label>
                    <div class="LandingPage-SelectOPerator">
                        <select id="new-order-select" class="selectpicker" required name="new-order-select" title="Choose the Operator Name">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option id="others">Others</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-2" >
                    <label>From date</label>
                    <div class="LandingPage-FromDate input-group date">
                        <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </div>
                
                <div class="col-sm-2" >
                        <label>To date</label>
                        <div class="LandingPage-ToDate input-group date">
                            <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                </div>
                
                
                <div class="col-sm-3" >
                    <label>Order ref.number</label>
                    <input  type="text" required="required" class="form-control" placeholder="Enter Order Ref" />
                </div>
                
                 
                <div class="col-sm-2" >
                    <label></label>
                    <a href="#!" class="btn btnSearch btn-primary">Search</a></div>
            </div>
        </div>
        
        <div class="container-fluid history" >
            
        </div>
                
            
                
        <div class="container-fluid Paginatn yelahto-pagination" >
            <ul id="pagination-demo" class="pagination-lg pull-right"></ul>
            <div id="page-content" class="page-content"></div>
        </div>
    </div>
    </div>
</div>

    <div class="seller-footer">
        <div class="seller-container" style="padding-top: 20px;">Copyright &copy; 2018 Seller Management Cooperation</div>
    </div>
    
</body>
</html>
            
